.chat {
  background-color: #1b2026;
  height: 240px;
  border-radius: 10px;
  padding: 4px;
  position: relative;
  overflow: auto;
}

.message-input {
  width: 100%;
  margin-bottom: 0px;
}

.chat-flex {
  width: 99%;
}

.chat-message {
  background: #262b31;
  color: #ffffffff;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
}
.message {
  margin: 10px 0px 10px 0px;
}

.chat-display {
  height: 190px;
  overflow: auto;
}
