.edit-user__progress {
  width: 100%;
}
.edit-user__alert {
  max-width: 1100px;
  border-radius: 5px;
}
.form-block {
  background-color: #262b31;
  border-radius: 10px;
  padding: 25px 25px 0px 25px;
  width: 350px;
  margin: 15px auto;
}

.ant-progress {
  &-text {
    color: #70cf97 !important;
  }
  & .ant-progress-bg {
    background-color: #70cf97;
  }
  &.ant-progress-status-success .ant-progress-bg {
    background-color: #70cf97;
  }
}

.ant-upload-list .ant-upload-list-item {
  color: #70cf97;
}
.ant-upload-icon svg {
  color: #70cf97;
}

.ant-upload-list-item-action svg {
  color: #ea6042;
}
