* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.section {
  padding: 30px 0px 30px 0px;
  background: #1b2026;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 30px;
  color: white;
}

.ant-image .ant-image-img {
  width: 300px;
  object-fit: scale-down;
}

.space-justify__center {
  justify-content: center;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ant-menu-item-selected {
  color: #ffffff !important;
}

.ant-menu > .ant-menu-item:hover {
  color: #ffffff !important;
}

.ant-menu > .ant-menu-item-selected::after {
  border-bottom: 2px solid #ffffff !important;
  border-bottom-color: #ffffff !important;
}

.ant-menu > .ant-menu-item:hover::after {
  border-bottom: 2px solid #ffffff !important;
  border-bottom-color: #ffffff !important;
}
.ant-menu-light .ant-menu-item-selected {
  background-color: red;
}

.ant-modal .ant-modal-content {
  background: #262b31;
  color: #ffffffff;
}
.ant-modal .ant-modal-title {
  color: #ffffffff;
}
.ant-modal .ant-modal-header {
  color: #ffffffff;
  background: #262b31;
}

.ant-form-item .ant-form-item-label > label {
  color: white;
}

.ant-modal .ant-modal-close {
  color: white;
}

.ant-menu-light .ant-menu-item-selected {
  background-color: #70cf97;
}

.ant-layout .ant-layout-sider-trigger {
  background: #70cf97;
}
.ant-menu-light.ant-menu-inline .ant-menu-item {
  color: white;
}

.ant-modal .ant-modal-close:hover {
  color: #ea6042;
}

.ant-menu-light.ant-menu-inline-collapsed .ant-menu-item {
  color: white;
}

.ant-btn.ant-btn-lg:hover {
  color: #70cf97;
  border-color: #70cf97;
  box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ant-upload.ant-upload-select {
  color: white;
}
.ant-upload.ant-upload-select:hover {
  color: #70cf97;
}

.ant-card-bordered {
  border: none;
}

.ant-card-head {
  border-bottom: none !important;
}

.ant-modal-title {
  padding-bottom: 20px;
}
