* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.section {
  padding: 30px 30px 30px 30px;
  background: #1b2026;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.title {
  font-size: 30px;
  color: white;
  text-align: center;
}

.space-justify__center {
  justify-content: center;
}

.ant-modal {
  top: 35%;
}
.ant-modal .ant-modal-content {
  background: #262b31;
  color: #ffffffff;
}
.ant-modal .ant-modal-title {
  color: #ffffffff;
}
.ant-modal .ant-modal-header {
  color: #ffffffff;
  background: #262b31;
}

.ant-form-item .ant-form-item-label > label {
  color: white;
}

.ant-modal .ant-modal-close {
  color: white;
}

.ant-modal .ant-modal-close:hover {
  color: #ea6042;
}

.ant-btn.ant-btn-lg:hover {
  color: #70cf97;
  border-color: #70cf97;
  box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
}

.ant-btn.ant-btn-lg.ant-btn-dangerous {
  color: #000000;
  border-color: #d9d9d9;
  &:hover {
    color: #ea6042;
    border-color: #ea6042;
    box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
  }
}

.ant-btn.ant-btn-sm {
  color: #000000;
  border-color: #d9d9d9;
  &:hover {
    border-color: #70cf97;
    color: #70cf97;
  }
}

.ant-upload.ant-upload-select {
  color: white;
}
.ant-upload.ant-upload-select:hover {
  color: #70cf97;
}

.ant-card-bordered {
  border: none;
}

.ant-card-head {
  border-bottom: none !important;
}

.ant-modal-title {
  padding-bottom: 20px;
}

.ant-tabs .ant-tabs-tab .anticon {
  margin-right: 0px;
}

.ant-select .ant-select-selector {
  background-color: white !important;
}
