.home-gallery {
  & img {
    object-fit: cover;
  }
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px 20px 30px 20px;
  background: #1b2026;
  &__users {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease-in-out;
    color: #ffffff;
  }
  &__images {
    position: relative;
    &:hover {
      cursor: pointer;
      .home-gallery__users {
        opacity: 1;
      }
    }
    & .home-gallery__user {
      font-size: 15px;
      color: #ffffff;
      padding-left: 10px;
    }
  }
}
