.home-gallery {
  padding: 30px 20px 30px 20px;
  background: #1b2026;
}

.home-page__images {
  position: relative;
}

.home-page__images:hover {
  cursor: pointer;
  .home-page__users {
    opacity: 1;
  }
}

.gallery-user {
  font-size: 15px;
  color: #ffffff;
  padding-left: 10px;
}

.home-page__users {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in-out;
  color: #ffffff;
}

.imagine {
  object-fit: cover;
}
