.layout {
  &-sider.ant-layout-sider {
    height: 100vh;
    position: sticky;
    left: 0;
    top: 0;
    bottom: 0;
  }

  &-sider {
    &__user {
      margin-left: 10px;
      padding: 15px;

      &-avatar {
        background: #70cf97;
        margin-right: 10px;
      }

      &-username {
        color: #ffff;
      }
    }
    &__menu {
      background-color: #262b31;
      color: #ffffff;
    }
  }

  .header.ant-layout-header {
    position: sticky;
    top: 0;
    z-index: 3;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #262b31;
  }

  .header-menu.ant-menu {
    width: 100%;
    color: #d9d9d9;
    background: #262b31;
  }
  .header-menu__right.ant-menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: #d9d9d9;
    background: #262b31;
  }

  .footer.ant-layout-footer {
    text-align: center;
    background-color: #262b31;
    color: white;
  }

  .ant-layout-sider-trigger {
    background-color: #ffffffff;
    color: #262b31;
  }
  .ant-menu-light .ant-menu-item-selected {
    color: #262b31;
  }
  // .ant-menu-dark.ant-menu-horizontal > .ant-menu-item-selected {
  //   background-color: inherit;
  //   border-bottom: 2px solid #ffffff;
  // }
}

.ant-menu-item:not(.ant-menu-item-selected):hover {
  background-color: #ffffff !important;
  color: #ffffff;
}
