.layout {
  .header.ant-layout-header {
    position: sticky;
    top: 0;
    z-index: 3;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #262b31;
  }

  .header-menu.ant-menu {
    width: 100%;
    color: #d9d9d9;
    background: #262b31;
  }
  .header-menu__right.ant-menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: #d9d9d9;
    background: #262b31;
  }

  .footer.ant-layout-footer {
    text-align: center;
    background-color: #262b31;
    color: white;
  }

  .ant-menu-title-content {
    color: #ffffff;
  }
  .ant-menu-light .ant-menu-submenu-title:hover {
    color: #ffffff !important;
  }
}
.ant-menu-light .ant-menu-item-selected {
  color: #000000 !important;
}
