.main-carousel__content {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 24px;
}

.image-container {
  position: relative;
  height: 100vh;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
