.photographer-main {
  padding: 20px;
}
.photographer-main__name {
  font-size: 20px;
  color: #ffffff;
}
.photographer-main__city {
  font-size: 16px;
  color: #d2d2d2;
}

.photographer-main__phone {
  font-size: 15px;
  color: #ffffffff;
  width: 220px;
}

.photographer-main__about {
  font-size: 15px;
  color: #ffffffff;
}
.photographer-main__created {
  font-size: 15px;
  color: #ffffffff;
}
