.photographer-card {
  width: 1000px;
  height: 431px;
  color: #ffffffff;
  background: linear-gradient(110.83deg, #23282e -2.21%, #2a3139 104.21%);

  &__avatar-text {
    color: #d9d9d9;
    text-align: center;
  }
  &__icon {
    font-size: 80px;
    color: #ffffffff;
    text-align: center;
  }
  &__info-city {
    font-size: 25px;
  }
  &__info-company {
    font-size: 25px;
  }
  &__info-email {
    font-size: 25px;
  }
  &__info-about {
    font-size: 15px;
  }

  &__price {
    font-size: 25px;
  }
  &__price-icon {
    font-size: 35px;
    color: #70cf97;
  }
  &__price-hour {
    font-size: 25px;
  }
  &__info-web {
    font-size: 25px;
    color: #d9d9d9;
    &:hover {
      color: white !important;
    }
  }

  &__facebook {
    font-size: 50px;
    color: #4267b2;
  }

  &__instagram {
    color: #8a3ab9;
    font-size: 50px;
  }
  &__phone {
    font-size: 50px;
    color: #4267b2;
  }

  &__photo {
    height: 250px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
  }
  &__packages {
    font-size: 20px;
  }

  &__more-info {
    color: #d9d9d9;
    font-size: 15px;
    &:hover {
      color: #ffffff;
    }
  }
}

.ant-image .ant-image-img {
  width: 300px;
  object-fit: scale-down;
}

.ant-tabs-nav .ant-tabs-tab {
  text-align: center;
}
