.photographer-info__name {
  font-size: 20px;
  color: #ffffff;
}
.photographer-info__city {
  font-size: 16px;
  color: #d2d2d2;
}

.photographer-info__phone {
  font-size: 15px;
  color: #ffffffff;
  width: 220px;
}

.photographer-info__about {
  font-size: 15px;
  color: #ffffffff;
}
.photographer-info__created {
  font-size: 15px;
  color: #ffffffff;
}
