.photographer-card {
  width: 100%;
  padding: 10px;
  background-color: #262b31;

  &__content.ant-col-19 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__name {
    font-size: 25px;
  }
  &__company {
    padding-left: 20px;
  }
  &__city {
    font-size: 20px;
  }
  &__phone {
    font-size: 20px;
  }
  &__price {
    font-size: 20px;
    &-hour {
      font-size: 15px;
      color: #808080;
    }
  }
  .ant-tabs-tab {
    color: #d9d9d9;
  }
}

.ant-pagination {
  color: #ffffff;
  &.ant-pagination a {
    color: #ffffff;
  }
  &.ant-pagination-next button {
    color: white;
  }
}

.ant-pagination .ant-pagination-item-active:hover a {
  color: #262b31;
}
.ant-pagination .ant-pagination-item-active a {
  color: #262b31;
}
.ant-pagination .ant-pagination-disabled .ant-pagination-item-link {
  color: white;
}

.ant-pagination .ant-pagination-next .ant-pagination-item-link {
  color: white;
}
.ant-pagination .ant-pagination-prev .ant-pagination-item-link {
  color: white;
}

.ant-input-search-button:hover {
  color: #70cf97 !important;
  border-color: #70cf97 !important;
}
