.photographer-main-content {
  width: 1200px;
  .photographer-info {
    color: #ffffff;
    &__name {
      font-size: 25px;
    }
    &__country {
      font-size: 18px;
      color: #d8d8d8;
    }
  }

  .photographer-main-skeleton {
    background-color: #262b31;
    width: 100%;
  }
}

.ant-spin-spinning {
  display: flex;
  justify-content: center;
}
